.wrap {
	max-width: 1000px;
	margin: 0 auto;
}
.all {
    max-width: 1000px;
	height: 300px;
	margin:0 auto;
}

.banner img {
	width: 998px;
	height: 200px;
	border: 1px solid red;
	margin:0 auto;
	box-sizing: border-box;
}

.menu {
       margin-right: 50%;
       margin-left: 50%;
       background-color: blue;
}
.content div{
    width: 300px;
	height: 300px;
	border: 1px solid blue;
	float: left;
	margin:
	box-sizing: border-box;

}

.content div img {
   max-width: 298px;
    height: 298px;
    