body {
    padding: 0;
    margin: 0;
    background: #edfdff;
    color: #000;
    height: auto;
    font-size: 15px;
}
.wrap {
	width: 1000px;
	margin: 0 auto;
	height: auto;
}
.header {
	width: 100%;
	margin-top: 5px;
	box-sizing: border-box;
}
.menu {
	padding-left: 400px;
	box-sizing: border-box;
}
.menu a{
	float:left;
	width: 66.666px;
}
