<!DOCTYPE html>
<html>
<head>
	<title>Porto</title>
	<meta charset="utf-8"/>
	<link rel="stylesheet" type="text/css" href="../sytle/cupc1.css"/>
</head>
<body>
	<h1><a href="../index.html#a8"alt="link về trang chủ">Porto Fc</a></h1>
    <img src="../img/logoporto.png"alt="ảnh logo porto"/>
    <p>
    	Câu lạc bộ bóng đá Porto (Tên đầy đủ: Futebol Clube do Porto, còn gọi là FC Porto, Porto hay FCP). Cùng với Benfica và Sporting Lisbon, đội bóng là một trong những câu lạc bộ bóng đá nổi tiếng nhất Bồ Đào Nha.
    </p>
    <br/>
    <p><a href="https://vi.wikipedia.org/wiki/F.C._Porto"alt="link về wiki"><i>xem thêm</i></a></p>
</body>
</html>