header {
	width: 100%;
}
.a1{
	width: 90%;
	height: 100%;
	margin:0 auto;
	background-color: blue;

}
h1{
	padding-left: 45%;
}
content {
	width: 100%;
}
.all {
	width: 90%;
	margin:0 auto;
}
.content {
	width: 66%;
	margin-right: .6666667%
	height: auto;
	padding: 1rem;
	box-shadow: 2px 3px 5px 0 blue;
	float: left;
	box-sizing: border-box;
}
h2,h4,h5 {
    color: #2e3236;
    font: bold 18px pt-sans,"Helvetica Neue",Arial,Helvetica,Geneva,sans-serif;
    width: 100%;
    display: inline-block;
    margin-bottom: 20px;
    padding-bottom: 10px;
    text-transform: none;
}
.gach {
	border-bottom: 4px solid #2e3236;
}
.center {
	text-align: center;
}
a {
    color: #039be5;
    text-decoration: none;
    -webkit-tap-highlight-color: 
}
.sidebar {
	width:33%;
	margin-left:0.33333333%;
	float: left;
	box-sizing: border-box;
}
.sidebar .p1{
    width: 100%;
    box-shadow: 2px 3px 5px 0 blue;

}
.sidebar .a2 {
	width: 100%;
	margin-top: 28px;
	box-shadow: 2px 3px 5px 0 blue;
}
.footer {
	width:100%;
	margin:0 auto;
}