@keyframes title{
	50% {
		color:red;
	}
}
h1 {
	text-align: center;
    animation: title 5s ease infinite;

}
@keyframes example {
  0%   {left:0px; top:0px;}
  25%  { left:200px; top:0px;}
  55%  { left:400px; top:0px;}

  }
div {
	position: relative;
  	animation-name: example;
    animation-duration: 5s;
    animation-iteration-count: infinite;
  }
img {
  max-width: 300px;
}
li {
	font-size: 30px;
}
p {
	text-align: justify;
}

a:link {
    color:black;
}

a:visited {
	color:blue;
}
a:hover {
	color: green;
}
a:active {
    color: yellow;
}

