img {
  max-width: 300px;
}
li {
	font-size: 30px;
}
p {
	text-align: justify;
}

a:link {
    color:black;
}

a:visited {
	color:blue;
}
a:hover {
	color: red;
}
a:active {
    color: yellow;
}

.box {
	float: right;
	border: 3px solid #dddddd;
	border-top-width: 5px; 
	
	
}