.main {
	width: 80%;
	margin:0 auto;
}
.item{
	text-align: center;
	overflow: hidden;
	margin:0.144443%;;
	float: left;
	border: 3px solid #847c7c;
	box-sizing: border-box;
	transition: all;
}
img {
	width: 100%;
	height: 200px;
}
a {
	font-size: 20px;
	text-decoration: none;
}
img:hover{
	transition-duration: 2s;
	transform: scale(1.1);
	opacity: 1;
}
a:visited {
	color: #2039bb;
}
a:active{
	color: #e2200a;
}
@media screen and (max-width: 768px){
    h1{
    	font-size: 25px !important;
    }
}
@media screen and (min-width:1200px) {
  .item {
    width: 24.550000%;
  }
}
@media screen and (max-width: 1199px) and (min-width: 992px) {
  .item {
    width: 32.7333333%;
  }
}
@media screen and  (max-width: 991px) and (min-width: 768px) {
  .item {
    width: 49.1%;
  }
}
@media screen and (max-width: 767px) {
  .item {
    width: 98.2%;
  }
}

